In [1]:
from selenium import webdriver
import plotly.graph_objs as go 
from plotly.offline import init_notebook_mode,iplot,plot
import pandas as pd

In [2]:
class Coronavirus():
  def __init__(self):
    self.driver = webdriver.Chrome()

In [3]:
bot = Coronavirus()
bot.driver.get('https://www.worldometers.info/coronavirus/')

In [4]:
table = bot.driver.find_element_by_xpath('//*[@id="main_table_countries_today"]/tbody[1]')
a = table.text.split("\n")
coronavirus = []
for i in range(100):
    b = a[i].split(" ")
    coronavirus.append(b)

In [5]:
coronavirus[1]

['1',
 'USA',
 '28,075,494',
 '+70,240',
 '491,472',
 '+1,859',
 '17,986,170',
 '9,597,852',
 '20,371',
 '84,514',
 '1,479',
 '331,710,437',
 '998,531',
 '332,198,570']

In [6]:
df = pd.DataFrame(coronavirus, columns=['#','Country','total_cases',
                                      'new_cases','total_deaths',
                                      'new_deaths','total_recovered',
                                      'active_cases','serious_critical',
                                     'total cases / 1m pop', 'deaths / 1m pop',
                                     'total_tests', 'total_tests / 1m pop', 'population','-'])
df = df.drop(columns='-')
# df = df.drop(columns='')

In [7]:
df = df.apply(lambda x: x.str.replace(',',''))
df = df[1::]
df.set_index('Country', inplace=True)

In [8]:
df.head()

,#,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases,serious_critical,total cases / 1m pop,deaths / 1m pop,total_tests,total_tests / 1m pop,population
Country,,,,,,,,,,,,,
USA,1,28075494,+70240,491472,+1859,17986170,9597852,20371,84514,1479,331710437,998531,332198570
India,2,10892550,+12137,155588,+104,10598709,138253,8944,7846,112,204789784,147506,1388345614
Brazil,3,9765455,+49157,237489,+1092,8643693,884273,8318,45742,1112,28600000,133964,213489750
Russia,4,4042837,+15089,79194,+507,3559142,404501,2300,27696,543,106000000,726161,145973128
UK,5,4013799,+15144,116287,+758,2094007,1803505,3036,58935,1707,81044007,1189972,68105802

In [72]:
data = dict(
        type = 'choropleth',
        colorscale = 'ylorrd',
        reversescale = False,
        locations = sample['Country'],
        locationmode = "country names",
        z = sample['total_cases'],
        text = sample['Country'],
        colorbar = {'title' : 'Total Coronavirus Cases'},
      ) 

layout = dict(title = 'Coronavirus World Map',
                geo = dict(showframe = False,showcountries= True)
             )
choromap = go.Figure(data = [data],layout = layout)
plot(choromap,validate=False)

'temp-plot.html'