In [1]:
from selenium import webdriver
import plotly.graph_objs as go 
from plotly.offline import init_notebook_mode,iplot,plot
import pandas as pd

In [2]:
class Coronavirus():
  def __init__(self):
    self.driver = webdriver.Chrome()

In [3]:
bot = Coronavirus()
bot.driver.get('https://www.worldometers.info/coronavirus/')

In [4]:
table = bot.driver.find_element_by_xpath('//*[@id="main_table_countries_today"]/tbody[1]')
a = table.text.split("\n")
coronavirus = []
for i in range(100):
    b = a[i].split(" ")
    coronavirus.append(b)

In [5]:
coronavirus[1]

['1',
 'USA',
 '28,097,186',
 '+91,932',
 '492,231',
 '+2,618',
 '18,018,910',
 '9,586,045',
 '20,304',
 '84,578',
 '1,482',
 '331,952,598',
 '999,244',
 '332,203,863']

In [6]:
df = pd.DataFrame(coronavirus, columns=['#','Country','total_cases',
                                      'new_cases','total_deaths',
                                      'new_deaths','total_recovered',
                                      'active_cases','serious_critical',
                                     'total cases / 1m pop', 'deaths / 1m pop',
                                     'total_tests', 'total_tests / 1m pop', 'population','-'])
df = df.drop(columns='-')

In [7]:
df = df.apply(lambda x: x.str.replace(',',''))
df = df[1::]

In [8]:
df.head()

,#,Country,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases,serious_critical,total cases / 1m pop,deaths / 1m pop,total_tests,total_tests / 1m pop,population
1,1,USA,28097186,+91932,492231,+2618,18018910,9586045,20304,84578,1482,331952598,999244,332203863
2,2,India,10892550,+12137,155588,+104,10598709,138253,8944,7845,112,204789784,147502,1388382654
3,3,Brazil,9765694,+49396,237601,+1204,8678327,849766,8318,45742,1113,28600000,133962,213493872
4,4,Russia,4042837,+15089,79194,+507,3559142,404501,2300,27696,543,106000000,726160,145973298
5,5,UK,4013799,+15144,116287,+758,2094007,1803505,3036,58934,1707,81044007,1189955,68106775

In [10]:
data = dict(
        type = 'choropleth',
        colorscale = 'ylorrd',
        reversescale = False,
        locations = df['Country'],
        locationmode = "country names",
        z = df['total_cases'],
        text = df['Country'],
        colorbar = {'title' : 'Total Coronavirus Cases'},
      ) 

layout = dict(title = 'Coronavirus World Map',
                geo = dict(showframe = False,showcountries= True)
             )
choromap = go.Figure(data = [data],layout = layout)
plot(choromap,validate=False)

'temp-plot.html'